.container {
  width: 70%;
  margin: auto;
  text-align: center;
  position: relative;
  
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  text-decoration: underline;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img{
  width: 80%;
}
.imgf{
  filter: brightness(200%);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn{
  background-color: rgb(206, 206, 236);
  color: black;
  margin-top: 5px;
  padding: 6px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: underline;
  font-weight: bolder;
}
.btn:hover{
  background-color:  rgb(141, 141, 167);
}
.list{
  margin:5px;
}
.result{
  display: inline-block;
  background-color: cream;
  color: white;
  padding:5px;
  font-style: italic;
  font-weight: bolder;
  font-size: larger;
  position: absolute;
  height: 50%;
  max-height: max-content;
  width: 250px;
  margin: 5px;
}
.pressed {
  box-shadow: 0 3px 4px 0 #121415;
  opacity: 0.5;
}
.bn{
  display:flex;
  justify-content:center;
}
