<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fetching marks</title>
        <link rel="stylesheet" href="./style.css">
        <script type="module" src="script.mjs" async></script>
    </head>
    <body>
        <div class="rollno">
            <u><h1>KMEC RESULTS</h1></u>
            <form action="action.js">
                <u><p>Hall Ticket NO:</p></u>
                <input 
                type="text"
                pattern="[0-9]"
                required maxlength="12"
                name="number" 
                placeholder="Enter">
                <h6>
                    (Enter your 12-digit Hall-Ticket number)
                </h6>
                <button type="submit"><h5>View Result</h5></button>
            </form>
        </div>
    </body>
</html>